* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  height: 100vh; 
}

:root {
  font-size: 62.5%; 
}

body,
input,
textarea,
button {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  font-family: "Nunito", sans-serif;

}

